@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  overflow-x: hidden;
}

.topnav{
  position: fixed;
}

nav{
  height: 8vh;
  width: 100vw;
  position: fixed;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  z-index: 2;
}


button{
  background-color: transparent;
  border: none;
}
section{
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.bottom-nav{
  height: 7vh;
  position: fixed;
  bottom: 0;
  display: flex;
  border: none;
  box-shadow: none;
}

.bottom-nav button{
  width: 20%;
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-align: center;
}
.bottom-nav button:hover{
  font-weight: 800;;
  cursor: pointer;
}


#cult-img{
  height: 90vh;
  max-width: 50vw;
  bottom: 0;
  right: 5vw;
  z-index: 1;
}
section img{
  position: absolute;
}

h1{
  color: white;
  font-size: 8vw;
  font-weight: 800;
  position: absolute;
}
.btn-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 40%;
  height: 30vh;
  row-gap: 5%;
  column-gap: 4%;
  position: absolute;
  z-index: 0;
}
.btn-container button{
  border: 3px solid white;
  color: white;
  border-radius: 50px;
  z-index: 2;
  font-size: 18px;
  font-weight: 600;
}
.btn-container button:hover{
  background-color: white;
  color: #7F5690;
}
.cult .btn-container button:hover{
  color: #F1C270;
}
/* .informal .btn-container button:hover{
  color: #32AFA5;
} */
.igmun .btn-container button:hover{
  color: #d3531a;
}
.inf-img{
  position: absolute;
  top:115vh;
  right: 0;
  height: 85vh;
  z-index: 1;
  max-width: 60vw;
}
.inf-txt{
  width: 80vw;
  margin: 10vh 0 0 5vw;
}
.pronite-img{
  position: absolute;
  height: 85vh;
  bottom: -195vh;
  max-width: 60vw;
  left: 0vw;
  z-index: 1;
}
.pronite-txt{
  margin: 10vh 0 0 10vw;
  width: 90vw;
}
.pronite .btn-container{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 20%;
  height: 30vh;
  row-gap: 5%;
  z-index: 1;
}
.informal .btn-container{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 25%;
}

.flagship-img{
  z-index: 1;
  bottom:-300vh;
  position: absolute;
  left: -7vw;
  height: 80%;
  max-width: 70%;
}
.flagship-txt{
  width: 80%;
  margin: 17vh 0 0 20vw;

}
.flagship .btn-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  width: 20%;
  height: 30vh;
  row-gap: 5%;
  z-index: 1;
  top: 355vh;;
  left: 70vw;
}
.flagship .btn-container button:hover{
  color: #97A19C;
}
.igmun-img{
  height: 60vh;
  max-width: 30vw;
  z-index: 1;
  top: 402vh;
  left: 3vw;
}
.igmun-img:nth-child(2){
  top: 425vh;
  left: 77vw;
}
.igmun-txt{
  width: 75vw;
  margin: 7vh 0 0 13vw ;
}
img{
  -webkit-user-drag: none;
}
.igmun-content-img{
  z-index: 1;
  width: 35vw;
  height: auto;
  position: absolute;
  top: 440vh;
  left: 50vw;
  transform: translate(-50%, 0);
}
.lightbox{
  min-height: 100vh;
  position: fixed;
  width: 100vw;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 25px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}
.lightboxImg{
  max-height: 70vh;
  max-width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.close{
  width: 1.6rem;
  aspect-ratio: 1/1;
  position: absolute;
  right: 3vw;
  top: 13vh;
  cursor: pointer;
  
}
.close img{
  position: relative;
  width: 80%;
}



.res-nav{
  width: 100vw;
  height: 0vh;
  z-index: 200000;
  position: absolute;
  background-color: orange;
  transition: height 1s ease-in-out;
  -webkit-transition: height 1s ease-in-out;
  overflow: hidden;
}
.res-nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.res-nav button{
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 500;
  font-size: large;
}
.res-nav.opened{
  height: 100vh;
}

#nav-icon4 {
  width: 50px;
  height: 100%;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span{
  background-color: white;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  top: 35px;
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 34px;
  left: 8px;
}

.res-menu-btn{
  display: none;
}

.topnav{
  display: flex;
  flex-direction: row;
  padding: 0 3.5%;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  height: fit-content;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px ); 
  -webkit-backdrop-filter: blur( 5.5px ); 
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 2000000;
}
.res-menu-btn{
  overflow: hidden;
}
.topnav button{
  background: transparent;
  border: none;
  padding: 1.5rem 1.4rem;
  font-weight: 700;
  font-size: 1fr;
  color: #1d3557;
  border-bottom: 3px solid transparent;
  text-align: center;
}
button{
  background: transparent;
}
nav button:hover{
  border-bottom: 3px solid #1d3557;
}
.bottom-nav button:hover{
  font-weight: 800 !important;
  border-bottom: 3px solid transparent;

}
.topnav{
  position: fixed;
}
.res-nav{
  position: fixed;
}




@media screen and (min-width: 650px) {
  .res-menu-btn{
    display: none;
  }
}

@media screen and (max-width: 650px) {
  nav ul{
    display: none;
  }
  .res-menu-btn{
    display: block;
    margin-top: -2.5vh
  }
  .top-nav img{
    height: 6vh;
  }
  .top-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    z-index: 4;
  }

  #cult-img, .inf-img, .pronite-img, .flagship-img{
    height: 55vh;
  }
  .igmun-img{
    height: 40vh;
    top: 450vh;
    position: absolute;
  }
  .igmun-content-img{
    width: 60vw;
    top: 430vh;
  }
  .inf-img{
    position: absolute;
    top: 145vh;
    right: 0;
  }
  .btn-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    height: 60vh;
    margin-top: -10vh;
    width: 30vw;
  }
  .cult .btn-container{
    transform: translate(0, -5vh);
  }
  
  .btn-container button{
    font-size: 12px !important;
    border: 2px solid white;
  }
  .sec h1{
    font-size: 52px;
    right: 10vw;
    transform: translate(0, -5vh);
  }
  .bottom-nav{
    height: 5vh;
  }
  .bottom-nav button{
    font-size: 13px !important;
  }
  .coming-soon{
    font-size: large !important;
  }
}



@media screen and (max-width: 1250px){
  .nav-btns{
    display: none;
  }
  .res-menu-btn{
    display: inline;
  }
  .lightboxImg{
    min-width: 90vw;
    max-height: 70vh;
  }
  
}
@media screen and (max-width: 650px){
  .res-menu-btn{
    margin-top: 0.5vh;
  }
}

@media screen and (max-width: 1170px){
  .igmun-img:nth-child(2){
    left: 69vw;
  }
}


@media screen and (max-width: 475px) {
  .btn-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 68vw;
    height: 25vh;
  }
  .sec h1{
    font-size: 40px;
  }
  #cult-img, .inf-img, .pronite-img, .flagship-img{
    max-height: 42vh;
  }
  .cult .btn-container{
    transform: translate(-50%, -7vh);
    left: 50vw !important;
  }
  #cult-img{
    top: 100vh;
    transform: translate(0, -100%);
  }
  .flagship-img{
    top: 400vh;
    transform: translate(0, -100%);
    max-height: 30vh;
  }
  .inf-img{
    top: 200vh;
    transform: translate(0, -100%);
    min-width: 85vw;
    max-height: 35vh;
  }
  .informal{
    padding: 2vh 0 0 0;
  }
  .pronite .btn-container, .flagship .btn-container, .informal .btn-container{
    width: 55vw;
    margin-top: -20vh  !important;
  }
  .flagship .btn-container{
    transform: translate(-30vw, 0);
    width: 50vw !important;
    height: 20vh;
  }
  .pronite-img{
    min-width: 90vw !important;
    height: 50vh;
    top: 250vh;
  }
  .igmun-img{
    height: 30vh;
    top: 460vh;
    z-index: 0;
  }
  .igmun-img:nth-child(2){
    top: 460vh;
  }
  .igmun-content-img{
    width: 75vw;
    top: 425vh;
  }
  .igmun-txt{
    top: 405vh;
  }
  
}

@media screen and (max-width: 425px) {
  .bottom-nav button{
    font-size: 10px !important;
  }
}
@media screen and (min-width: 950px) and (max-height: 800px){
  .igmun-content-img{
    max-height: 50vh;
  }
}

@media screen and (min-height: 780px) and (max-width: 1430px){
  .igmun-img:nth-child(2){
    left: 70vw;
  }
}

/* Social Side Bar <<< Start >>> */

.social-sidebar{
  border-radius: 0px 10px 10px 0px;
  background-color: #1d3557;
  padding: 18px 10px 18px 8px;
  height: fit-content;
  position: fixed;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10000;
}

.social-med-btn{
  cursor: pointer;
}
.social-sidebar .social-med-btn:hover{
  color: #1d3557 !important;
}

.social-med-btn{
  border: 1.5px solid #fbfbf2;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbf2;
}

.social-med-btn:hover{
  border: 1.5px solid #fbfbf2;
  background-color: #fbfbf2;
  color: #7f5690;
}

@media screen and (max-width: 500px){ /*mobile*/
  .social-sidebar{
    padding: 10px 5px 10px 4px;
  }
  .social-sidebar .social-med-btn{
    border: 0;
  }
  .social-med-btn{
    width: 30px;
    height: 30px;
    border: 1px solid white;
  }
  .social-med-btn i{
    font-size: 150% !important;
  }
}

/* Social Side Bar <<< End >>> */

.reg-btn{
  border-radius: 100px;
  padding: 13px 17px !important;
  min-width: max-content;
  font-weight: 600;
  background-color: #1d3557 !important;
  color: #fff !important;
}