@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(50, 156, 175);
    color: #fff !important;
    scroll-behavior: smooth;
    
    /* background-color: #331041; */
    
}
::-webkit-scrollbar {
    width: 0;
}

  /* body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
  }
   */

   .res-nav{
    width: 100vw;
    height: 0vh;
    z-index: 200000;
    position: fixed;
    background-color: orange;
    transition: height 1s ease-in-out;
    -webkit-transition: height 1s ease-in-out;
    overflow: hidden;
  }
  .res-nav ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .res-nav button{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 500;
    font-size: large;
  }
  .res-nav.opened{
    height: 100vh;
  }
  
  #nav-icon4 {
    width: 50px;
    height: 100%;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 80%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(2) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(3) {
    top: 30px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4.open span{
    background-color: white;
  }
  
  #nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 5px;
    left: 8px;
  }
  
  #nav-icon4.open span:nth-child(2) {
    top: 35px;
    width: 0%;
    opacity: 0;
  }
  
  #nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 34px;
    left: 8px;
  }
  
  .res-menu-btn{
    display: none;
  }
 
  nav{
    display: flex;
    flex-direction: row;
    padding: 0 3.5%;
    justify-content: space-between;
    width: 100vw;
    height: fit-content;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px ); 
    -webkit-backdrop-filter: blur( 5.5px ); 
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 2000000;
    position: fixed;
  }
  nav button{
    background: transparent;
    border: none;
    padding: 1.5rem 2rem;
    font-weight: 700;
    font-size: 1fr;
    color: #1d3557;
    border-bottom: 3px solid transparent;
    text-align: center;
  }
  button{
    background: transparent;
  }
  nav button:hover{
    border-bottom: 3px solid #1d3557;
  }
    
    @media screen and (max-width: 1450px) {  /*tablet*/
      .nav-btns{
        display: none;
      }
      .res-menu-btn{
        display: inline;
      }
        .login-btn, .regis-btn{
        padding: 3.3% 5.6%;
        font-size: 95%;
      }
    }
    @media screen and (max-width: 500px){ /*mobile*/
  
      .login-btn, .regis-btn{
        padding: 6% 10%;
        border: 1px solid white;
      }
      .nav-btns{
        display: none;
      }
      .res-menu-btn{
        display: inline;
      }
    }
    
    @media screen and (min-width: 1000px) and (min-height: 1200px){   /* ipad pro*/
  
      .login-btn, .regis-btn{
        padding: 3.7% 6.6%;
        font-size: 1.2em;
    }
    }
    
    @media screen and (max-height: 700px) and (min-width: 1000px){  /* small height desktop*/
      .header img{
        width: 25vw !important;
      }
    }
    @media (min-width: 700px) {
     .leading {
        display: flex;
        align-items: center;
      }
    }

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400%;
    color: #fff;
}

@media(max-width:456px){
  .main h1{
    font-size: 270%;
  }
}

.heading{
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-top: 80px;
}
.heading .title{
  width: 100%;
}

.button_container{
  width: 40%;
  display: flex;
  flex-direction: row;
}
.heading_button1{
  /* background-color: aliceblue; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.heading_button2{
  /* background-color: rgb(34, 41, 47); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading .button{
  background-color: #1d3557;
  padding: 15px;
  border-radius: 20px;
  white-space: nowrap;
}

.heading #button2{
  border: 2px #ffffff solid;
    border-radius: 20px;
    padding: 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.reg-btn{
  border-radius: 100px;
  padding: 13px 17px;
  min-width: max-content;
  font-weight: 600;
  background-color: #1d3557 !important;
  color: #fff !important;
}

.heading a{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: #fff; 
    font-weight: 500; 
}

/* .heading p{
  background-color: #1d3557;
    border: 2px #1d3557 solid;
    border-radius: 20px;
    padding: 15px;
    font-weight: 500;
} */

.heading a:hover{
    font-weight: 600;
}

.passes{
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.passes #button_pay{
    margin-left: 50%;
    font-size: 100% !important;
}

@media(max-width:1096px){
    .heading{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .button_container{
      width: 100%;
      height: auto;
      margin-top: 5px !important;
    }

    .heading_button1{
      width: 100%;
      justify-content: start;
      /* padding-left: 15px; */
    }

    .heading_button2{
      width: 100%;
      justify-content: end;
      
    }

    .button_container{
      width: 60%;
      margin-top: -30px;
      padding-bottom: 15px;
      padding-top: 5px;
      /* padding-left: 5%; */
    }

@media(max-width:489px){
  .button_container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .heading_button1{
    width: 100%;
    justify-content: center;

  }

  .heading_button2{
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
  }

}

    .passes #button_pay {
        margin-left: 0%;
        margin-top: -40px;  
        display: flex;
        align-items: center;
        justify-content: center;      
    }

    .heading a{
      /* justify-content: start; */
      /* padding-left: 5%; */
  }
}
.pass-container{
    width: 100%; 
    height: fit-content; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding-left: 5%; */
    /* padding-bottom: 5%; */
    /* color:#1d3557; */
  }

@media(max-width:550px){
  .pass-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
  
.pass-tile{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;

}

.pass-details{
  width: 100%;
  margin-top: -25px;
  padding-bottom: 5%;
}

.pass-details p{
  line-height: 1.5rem;
  height: 15px;
}
@media(min-width:1160px){
  .pass-details p{
    font-size: 140%;;
  }
}
.pass-tile img{
  width: 80%;
  border-radius: 10px;
}

.pass-details {
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

@media screen and (max-width: 500px){

  .pass-tile{column-gap: 10%;}
  .btn-container{flex-direction: column; row-gap: 2vh;}
  .btn-container button{font-size: 11px;}
}
.steps_heading{
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps{
  width: 100%;
  height: fit-content;
  padding-top: 65px;
  padding-bottom: 0%;
  color: #fff;
}
.step{
  height: fit-content;
  /* padding-top: 2%; */
}
.steps h1{
  font-size: 300% !important;
  margin-top: 0%;
  margin-bottom: 0%;
}
.step img{
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      height: 65%;
}

.details{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 120%;
  font-weight: 600;
}

.details{
  padding-bottom: 1.25%;
  padding-top: 4%;
}

@media(max-width:667px){
  .details{
      font-size: 100%;
      line-height: 1.3rem;
  }
}

@media(max-width:467px){
  .details{
      padding-bottom: 3%;
  }
}

@media(max-width:800px){
  .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0%;
    margin-bottom: 15px;
  }

  .passes #button_pay {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pass-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.bottom_button{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
}

.bottom_button p{
  background-color: #1d3557;
  border: 2px #1d3557 solid;
  border-radius: 20px;
  padding: 15px;
  font-weight: 500;
}

.bottom_button p:hover{
  border: 3px #1d3557 solid;
  font-weight: 600;
}

#pay_btn_2:hover{
  cursor: pointer;
}

#button2:hover{
  cursor: pointer;
}

#pay_btn_1:hover{
  cursor: pointer;
}

.bottom_info{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1rem;
}

.bottom_info p{
line-height: 1.5rem;
font-weight: 600;
font-size: 110%;
}

@media(max-width:400px){
  .main h1{
    padding-left: 0%;
    font-size: 250% !important;
    padding-bottom: 10px;
  }

}

/* Snackbar */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 80px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 80px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 80px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 80px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 80px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.pay-btn{
  border-radius: 100px;
  padding: 13px 17px;
  min-width: max-content;
  font-weight: 600;
  background-color: #1d3557;
  color: #fff !important;
  cursor: pointer;
  border: none;
}

#add_accomodation_btn{
  border-radius: 100px;
  padding: 13px 17px;
  min-width: max-content;
  font-weight: 600;
  background-color: #1d3557;
  color: #fff !important;
  cursor: pointer;
  border: none;
}

/* The Modal (background) */
.modal {
  height: 100vh;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  /* Full height */
  overflow-y: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  margin: 0;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(255, 255, 255, 1);
  /* background: rgba( 255, 255, 255, 0.3 ); */
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(5.5px);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  padding-left: 25px;

  height: auto;
  /* border: 1px solid #888; */
  width: 40%;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
  color: #777676;
  float: right;
  font-size: 60px;
  font-weight: bold;
  text-align: right;

  /* margin-left: 15vw; */
}

form label {
  color: #1d3557;
  font-weight: bold;
  margin: 10px 0px;
  width: 100%;
}

form #form_button {
  border-radius: 15px;
  border: 1px solid #1d3557;
  background-color: #1d3557;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  /* padding: 12px 45px; */
  /* padding: 1.7%; */
  /* letter-spacing: 1px; */
  padding: 10px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 10px;
  /* padding-top: 2%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 15%; */
  cursor: pointer;
}

#submit_button {
  border-radius: 30px;
  border: 1px solid #1d3557;
  background-color: #1d3557;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#submit_button:hover,
#form_button:hover {
  border: 1px solid #1d3557;
  background-color: #1d3557;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.inner_box {
  display: flex;
  flex-direction: column;
}

.modal-content p {
  padding-top: 2%;
}

#promo_code {
  outline: none;
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  width: 100%;
}

#promo_code:focus {
  border: 1.8px solid #1d3557;
}

.background_div {
  height: 5000px;
  width: 100%;
}

.modal_heading {
  /* display: flex; */
  align-items: center;
  font-size: 15px;
  height: 80px;
}

.modal_heading h1 {
  color: #1d3557;
}

.button_class {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .modal-content {
    width: 50%;
  }

  .modal {
    height: 100%;
  }
}

@media (max-width: 700px) {
  .modal-content {
    width: 60%;
  }
}

@media (max-width: 560px) {
  .modal-content {
    width: 65%;
  }

  .modal_heading h1 {
    font-size: 19px;
  }

  .modal-content label {
    font-size: 15px;
  }
}

@media (max-width: 445px) {
  .modal-content {
    width: 75%;
  }

  .modal_heading h1 {
    font-size: 17px;
  }
}

@media (max-width: 370px) {
  .modal-content {
    width: 85%;
  }

  .close {
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  .modal-content {
    width: 90%;
  }
}

.modal-details {
  line-height: normal;
  margin-top: -5px;
  color: rgb(50, 156, 175);
  font-weight: bold;
  font-size: 17px;
}

.modal-details span {
  color: #1d3557;
}

.modal-details p{
  margin: 0%;
}