@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
	background-image: url('../static/igmun/igmun_registration_bg_blur.jpg');
    
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
    font-family: 'Montserrat', sans-serif;
	height: 100vh;
	
}

.container{
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_box{
    height: 90vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 7px 7px 30px 2px rgba(0,0,0,0.88);
    -moz-box-shadow: 7px 7px 30px 2px rgba(0,0,0,0.88);
    box-shadow: 7px 7px 30px 2px rgba(0,0,0,0.88);
    
}

.left{
    height: auto;
    width: 100%;
    background-image: url('../static/igmun/igmun_registration_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left .image{
    /* background-image: url('../static/igmun/logo.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position-x: center; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left .image img{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media(max-width:1400px){
    .left .image img{
        height: 60%;
        width: 60%;
    }
}
@media(max-width:1200px){
    .left .image img{
        height: 65%;
        width: 65%;
    }
}
@media(max-width:1000px){
    .left .image img{
        height: 70%;
        width: 70%;
    }
}

.left span{
    color: #ffffff;
    font-size: 150%;
    font-weight: bolder;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
@media(max-width:1469px){
    .left span{
        font-size: 120%;
    }
}
@media(max-width:11194px){
    .left span{
        font-size: 100%;
    }
 }

 
@media(max-width:1012px){
    .left span{
        font-size: 90%;
    }
 }

 @media(max-width:919px){
    .left span{
        font-size: 80%;
    }
 }

 
 @media(max-width:853px){
    .left span{
        font-size: 75%;
    }
 }

 @media(max-width:790px){
    .left span{
        font-size: 72%;
    }
 }



#home {
    background-color: rgb(167, 167, 167);
    height: 70px;
    width: 70px;
    padding: 0;
    border-radius: 50%;
    border: none;
    position: fixed;
    left: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
}
  
#home img {
    height: 50px;
    width: 50px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px){
    .form_box{
        height: 85vh;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    #home{
        height: 60px;
        width: 60px;
        left: 10px;
        top: 10px;
    }

    #home img {
        height: 30px;
        width: 30px;
    }
}

form {
	background-color: #d7d7d7;
    font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 50px;
    padding-top: 15px;
	height: auto;
	text-align: center;
    width: 100%;
    border-radius: 0 10px 10px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

form::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    }

form h1{
    color:#52504f;
}

input {
    outline: none;
	background-color: #eee;
	border: none;
    border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

input:focus {
    border: 1.8px solid #52504f;
  }

  select {
    outline: none;
	background-color: #eee;
	border: none;
    border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

select:focus {
    border: 1.8px solid #52504f;
  }

  button {
	border-radius: 10px;
	border: 1px solid #52504f;
	background-color: #52504f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:hover {
	border: 1px solid #494746;
	background-color: #494745;
    cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

@media (max-width: 767px) {
	.left {
	  display: none !important;
	}

    .form_box {
        display: flex;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;
      }

      .form_box::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
        }
  
}
@media (max-width: 869px) {
	form h1{
	  font-size: 30px;
	}
}

@media (max-width: 822px) {
	form h1{
	  font-size: 28px;
	}
}

@media (max-width: 799px) {
	form h1{
	  font-size: 24px;
	}
}

@media (max-width: 467px) {
	form h1{
	  font-size: 30px;
      padding-top: 5px;
	}
    form{
        padding: 0 40px;
    }
}


@media (max-width: 414px) {
	form h1{
	  font-size: 30px;
	}
    form{
        padding: 0 40px;
    }
}


@media (max-width: 394px) {
	form h1{
	  font-size: 28px;
	}
    form{
        padding: 0 40px;
    }
}

@media (max-width: 372px) {
	form h1{
	  font-size: 25px;
	}
    form{
        padding: 0 40px;
    }
}

@media (max-height: 361px) {
	.left span{
        padding-bottom: 15px;
    }
}

@media (max-width: 340px) {
	form h1{
	  font-size: 23px;
	}
    form{
        padding: 0 35px;
    }
}

@media (max-width: 318px) {
	form h1{
	  font-size: 22px;
	}
    form{
        padding: 0 35px;
    }
}

@media (max-width: 297px) {
	form h1{
	  font-size: 20px;
	}
    form{
        padding: 0 32px;
    }
    input{
        padding: 12px 8px;
    }
}


