/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'EB Garamond', serif;
}
body{
  background-color: #36597A;
  overflow-x: hidden;
}
section{
  /* min-height: 100vh; */
  width: 100vw;
  height: min-content;
  min-height: 100vh;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
ul li{
  list-style-type: none;
  width: min-content;
  font-size: 20px;
  color: white;
  min-width: fit-content;
  border-bottom: 2px solid transparent;
  padding: 2% 0%;
}
ul li:hover{
  border-bottom: 2px solid white;
}
section:nth-child(1){
  background-image: url('./../static/igmun/Group\ 13.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.intro{
  height: 100vh;
  background-color: #36597A ;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section:nth-child(3){
  height: fit-content;
  background-color: #E5E5E5;
}
.table{
  max-height: 70vh;
  clip-path: inset(2px 2px);
  max-width: 50vw;
  -webkit-animation:spin 80s linear infinite;
  -moz-animation:spin 80s linear infinite;
  animation:spin 80s linear infinite;
  mix-blend-mode: luminosity;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

nav{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2% 4% 0 4%;
}
nav img{
  height: 50px;
}
#menu-icon{
  height: 25px;
  display: none;
}
button{
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  color: white;
  padding: 1% 2%;
  border-radius: 50px;
  font-weight: bold;
}
button:hover{
  background-color: white;
  color: #4F4F4F;
  cursor: pointer;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  row-gap: 30px;
}
.container img{
  height: 30vh;
}
a{
  color: white;
  text-decoration: none;
}
button:hover a{
  color: #4F4F4F;
}
.container button{
  background-color: white;
  color: #4F4F4F;
  font-size: 19px;
  margin: 30px 0;
}
.countdown-container{
  width: 65%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5%;
  margin-bottom: 20px;
}
.countdown-tile{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width:25%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.countdown-tile span{
  font-size: 70px;
  font-weight: bold;
}
.about-us{
  max-width: 38vw;
  margin: 0 7vw;
  color: white;
  height: fit-content;
  overflow-y: scroll;
}
.about-us::-webkit-scrollbar {
  display: none;
}
.about-us h1{
  font-size: 75px;
  margin: 0 0 30px 0;
}
.about-us-text{
  line-height: 25px;
  font-size: 18px;
}
.committees{
  padding: 7vh 0;
  display: flex;
  flex-direction: column;
  color: #616161;
  align-items: center;
  overflow-x: hidden;
}
.committees h1{
  font-size: 75px;
  margin-bottom: 20px
}
.committee-container{
  width: 75vw;
  height: fit-content;
  background-color: #cecece;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #616161;
  margin-top: 40px;
  padding: 40px 20px;
}
.commitee-info{
  max-width: 40%;
}
.commitee-info h1{
  font-size: 35px;
}
.committee-container img{
  max-height: 80%;
  max-width: 30%;
}
footer{
  background-color: #616161;
  height: 30vh;
  padding: 40px 50px;
  padding-bottom: 50px;
  display: flex;
  color: white;
  column-gap: 30px;
  max-width: 100vw !important;
  overflow-y: hidden;

}
.contact, .address{
  line-height: 29px;
  font-size: 18px !important;
  margin-left: 80px;
  max-width: 25%;
}
footer img{
  max-height: 40% !important;
}
.social-media-handles{
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  height: fit-content;
  margin-left: 30px;
}
.social-media-handles button{
  border: none;
}
.social-media-handles button:hover{
  background-color: transparent;
}

.side-social{
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-right: 20px;
  transform: translate(-50%, -50%);
}
.side-social button{
  border: none;
}
.side-social button:hover{
  background-color: transparent;
}

.res-nav{
  height: 100vh;
  width: 100vw;
  background-color: #cecece;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.res-nav{
  overflow: hidden;
  height: 0;
  transition: height 1s ease-in-out;
}


@media screen and (max-width: 900px) {
    .table{
      display: none;
    }
    .table{
      top: 200%;
    }
    .intro{
      flex-direction: column;
    }
    .about-us{
      max-width: 100vw;
      text-align: center;
      padding: 0 10vw;
      margin-top: 8vh;

    }
    .about-us h1, .committees h1{
      font-size: 40px !important;
    }
    h1{
      font-size: 20px !important;
    }
    .countdown-tile span{
      font-size: 40px;
    }
    .countdown-tile h2{
      font-size: 17px !important;
    }
    .committee-container{
      flex-direction: column;
      row-gap: 20px;
    }
    .commitee-info{
      min-width: 90%;
      text-align: center;
    }
    .commitee-info h1{
      font-size: 24px !important;
    }
    .commitee-info div{
      font-size: 18px !important;
    }
    footer{
      flex-direction: column;
      height: fit-content;
      row-gap: 20px;
    }
    footer img{
      display: none;
    }
    .social-media-handles img{
      display: block;
    }
    .contact, .address{
      min-width: 100%;
      text-align: center;
      margin: 0;
    }
    .side-social{
      display: none;
    }
    .scrollmagic-pin-spacer{
      display: none;
    }
}

@media screen and (max-width: 500px) {
  .countdown-container{
    display: none;
  }
  h1{
    text-align: center;
    font-size: 15px !important;
  }
  .side-social{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 90vh;
    width: 100vw;
    left: 50%;
    justify-content: space-evenly;
    row-gap: 0;
    column-gap: 10px;
    margin-right: 0;
  }
  

}

@media screen and (max-width: 690px){
  ul{display: none;}
  #menu-icon{display: block;}
  .res-nav ul{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .res-nav ul li a{
    color: #616161;
    font-weight: bold;
  }
  
}