@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'EB Garamond', serif;
}
body{
  overflow-x: hidden;
}
nav{
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: transparent;
  color: black !important;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  z-index: 9999;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3% 4% 0.3% 4%;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
ul li{
  list-style-type: none;
  width: min-content;
  font-size: 20px;
  color: #233354;
  min-width: max-content;
  padding: 2% 0%;
  transition: all 0.5s ease;
}
.res-nav{
  position: fixed !important;
}
button{
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  color: rgb(26, 14, 14);
  padding: 1% 2%;
  border-radius: 50px;
  font-weight: bold;
}
button:hover{
  background-color: white;
  color: #4F4F4F;
  cursor: pointer;
}
section:nth-child(1){
  background-image: url('./../static/igmun/Group\ 13.png');
  background-repeat: no-repeat;
  background-size: cover;
}

nav img{
  height: 50px;
}
#menu-icon{
  height: 25px;
  display: none;
}

.res-nav{
  height: 100vh;
  width: 100vw;
  background-color: #cecece;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0 
}
.res-nav{
  overflow: hidden;
  height: 0;
  transition: height 1s ease-in-out;
}
a{color: #2c426c; text-decoration: none; font-size: 16px;}

.blob{
  position: absolute;
  z-index: -999;
  filter: blur(100.17px);
  width: 40vw;
  top: 10vh;
  left: -2vw;
}
.igmun-logo{
  position: absolute;
  z-index: -995;
  right: 0;
  width: 18vw;
  height: auto;  
  transform: translate(0, 20vh);
}
.second{
  top: 100vh;
  left: 0;
}
.third{
  top: 200vh;
  right: 0;
}
.fourth{
  top: 300vh;
  left: 0;
}

section{
  width: 100vw;
  color: #233354;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vh 0 0 0;
  height: fit-content;
  flex-direction: column;
  padding: 15vh 0 0 0;
}
h2{font-size: 34px; text-align: center;}
.person-container{
  width: 70vw;
  margin: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4vw;
}
.profile-pic{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 25px;
}
.profile-pic img{
  width: 10vw;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin: 10px;
}
.description{
  text-align: justify;
  line-height: 25px;
}
.profile-pic h3, .profile-pic h4{
  text-align: center;
}

@media screen and (max-width: 690px){
  ul{display: none;}
  #menu-icon{display: block; mix-blend-mode: difference;}
  .res-nav ul{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .res-nav ul li a{
    color: #616161;
    font-weight: bold;
  }

  .blob{width: 80vw; filter: blur(50px);}
  .igmun-logo{width: 40vw;}
  .person-container{
    flex-direction: column;
    row-gap: 2vh;
  }
  .person-container:nth-of-type(even){
    flex-direction: column-reverse;
  }
  .description{
    text-align: center;
  }
}

@media screen and (max-width: 500px){
  .profile-pic img{
    width: 18vw;
  }
}