@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700;8..144,800;8..144,900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'Space Mono', monospace; */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* navbar styling starts here  */
.res-menu-btn{
  overflow: hidden;
}
.res-nav{
  width: 100vw;
  height: 0vh;
  z-index: 2;
  position: fixed;
  background-color: orange;
  transition: height 1s ease-in-out;
  -webkit-transition: height 1s ease-in-out;
  overflow: hidden;
}
.res-nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.res-nav button{
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 500;
  font-size: large;
}
.res-nav.opened{
  height: 100vh;
}

#nav-icon4 {
  width: 50px;
  height: 100%;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span{
  background-color: white;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  top: 35px;
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 34px;
  left: 8px;
}
.res-menu-btn{
  display: none;
}

nav{
  display: flex;
  flex-direction: row;
  padding: 0 3.5%;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: fit-content;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px ); 
  -webkit-backdrop-filter: blur( 5.5px ); 
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 100;
  
}
nav button{
  background: transparent;
  border: none;
  padding: 1.5rem 1.4rem;
  font-weight: 700;
  font-size: 1fr;
  color: #1d3557;
  border-bottom: 3px solid transparent;
  text-align: center;
}
button{
  background: transparent;
}
nav button:hover{
  border-bottom: 3px solid #1d3557;
}
/* navbar ends here  */
body{background-color: #F66C40;}
.skulls{
  position: absolute;
  right: 0;
  top: 50%;
  max-width: 40vw;
  z-index: -1;
  /* top: 0; */
  transform: translate(0, -50%);
}
.circle{
  position: fixed;
  z-index: -1;
  background-color: #F69520;
  filter: blur(200.17px);
  width: 30%;
  aspect-ratio: 1/1;
}
.second{
  right: 0;
  bottom: 0;
  background-color: #F69520;
  z-index: -2 !important;
}
main{
  /* height: 100vh; */
  padding: 15vh 5vw;
  color: white;
  width: 60vw;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  overflow-y: scroll;
}

h1{
  /* font-family: Roboto Flex; */
  font-size: 3.5rem;
  font-family: 'Roboto Flex', sans-serif;
  line-height: 3.8rem;
  margin-bottom: 5vh;
}
h2{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 1.8rem;
}

.pic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.pic-container img{
  min-width: 15%;
  max-width: 15%;
  border-radius: 50%;
  margin-bottom: 5vh;
  transform: translate(0, 20%);
}

#question{
  max-width: 10px !important;
  aspect-ratio: 1/1;
  transform: scale(50%);
}
#year_and_college, #state, #email, #phone, #gender, #registered_events_div{font-size: 19px !important; font-weight: 600;}

.name-cont{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3%;
  flex-direction: column;
  height: 100%;
  row-gap: 3px;
}
.name-cont h2{font-size: 37px;}
.name-cont h3{overflow: visible; font-size: 22px;}
.name-cont h3 sup{
  border: 1px solid white;
  font-weight: 300;
  border-radius: 50%;
  font-size: 13px;
  padding: 0 4px;
  cursor: pointer;
}
.tooltip-text{
  font-size: small;
  background: grey;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
  visibility: hidden;
  display: inline-block;
  /* max-width: 100% */
  margin-top: 7px;
}

.ques:hover .tooltip-text{
  visibility: visible;
}



#ca{
  padding: 3px 7px;
  background-color: rgb(188, 188, 188);
  font-weight: 400;
  border-radius: 50px;
  font-size: 13px;
  display: none;
}
main h2, main p, main span{
  font-family: 'Roboto Mono', monospace;
}
main p{font-size: 17px; line-height: 25px;}
#address{margin: 5% 0 0 0; width: 80%;}
main span{width: max-content;}
#gender, #state, #registered_events_div{margin-bottom: 5%;}
.payment img{
  width: 20px;
  aspect-ratio: 1/1;
}
.payment{
  display: flex;
  justify-content: baseline;
  column-gap: 10px;
  align-items: center;
}
button{
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
}
.makePayment, .accomodation, .get_pass_btn{
  border: 3px solid #1d3557;
  color: #1d3557;
  padding: 10px 13px;
  width: 30%;
  min-width: min-content;
  border-radius: 50px;
  margin: 20px 0;
  cursor: pointer;
}
.makePayment:hover, .accomodation:hover, .get_pass_btn:hover{
  background-color: #1d3557;
  color: white;
}
.accomodation{padding: 0px 20px; width: fit-content;}
.makePayment{display: none;}

.pass-container{
  background: url('./../static/user-profile/SILVER.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  aspect-ratio: 2/1;
  margin: 5% 0;
  padding: 0 10%;
  display: none;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  column-gap: 30px;
}
#qr_code img{
  width: 100%;
}
#acc_yes, #acc_no{
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 10px;
  column-gap: 10px;
}
#acc_yes img, #acc_no img{
  height: 17px;
}
#acc_yes p, #acc_no p{
  margin: 0 !important;
  font-size: 14px;
}
#acc_yes p{color: rgb(108, 183, 108) !important;}
#acc_no p{color: rgb(193, 112, 112) !important;}
#acc_no{display: none;}

.details{
  width: 60%;
  height: 90%;
  overflow: hidden;
  max-height: 90%;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace !important;
  min-width: max-content;

}
.details h1{
  color: rgb(149, 144, 144);
  font-size: 30px;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: normal;

}
#pass_user_name_and_id{
  line-height: normal;
}

.btn-cont{
  display: flex;
  column-gap: 15px;
  justify-content: stretch;
}

.get_pass_btn{
  background-color: #1d3557;
  color: white;
}

.details h3{color: rgb(149, 144, 144); margin: 0;   font-family: 'Roboto Mono', monospace;}
.details P{color: #1d3557; font-weight: 600; margin-top: 10%;}

*::-webkit-scrollbar {
  display: none;
}

.lightbox{
  min-height: 100vh;
  position: fixed;
  width: 100vw;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 25px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}
.lightboxImg{
  max-height: 70vh;
  max-width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.close{
  width: 1.6rem;
  aspect-ratio: 1/1;
  position: absolute;
  right: 3vw;
  top: 13vh;
  cursor: pointer;
  
}
.close img{
  position: relative;
  width: 80%;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 1250px) {
  nav{padding: 0 10vw;}
  .nav-btns{display: none;}
  .res-menu-btn{ display: inline;}
  #user_name_span{
    max-width: 80% !important;
  }
  .lightboxImg{
    min-width: 90vw;
    max-height: 70vh;
  }
}

@media screen and (max-width: 350px) {
  .pic-container{
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {  /*tablet*/
  .circle{display: none;}
  main{width: 100%; align-items: center; ;}
  .skulls{right: 50%; top: 0%; transform: translate(50%, 0); display: none;}
  .name-cont{width: 100%; justify-content: center;}
  #address{width: 100%; text-align: center;}
  .details h1{font-size: 19px; overflow: hidden;}
  .details h3{font-size: 15px; overflow: hidden;}
  .details p{font-size: 13px; overflow: hidden;}
  #name_cont_span{margin-left: auto; margin-right: auto;}
}

@media screen and (max-width: 900px){
  .pic-container{ flex-direction: column; margin-top: 5vh;}
  .name-cont{ text-align: center; }
  .name-cont h2{font-size: 22px;}
  .name-cont h3{font-size: 16px;}
  #year_and_college, #email, #phone, #state, #gender, #registered_events_div{
    text-align: center;
    font-size: 14px !important;
  }
  main{padding-top: 9vh;}
  #pass_name{font-size: 18px;}
  .details h3{font-size: 13px !important; }
  #acc_yes img, #acc_no img{width: 10px; height: auto;}
  #acc_yes, #acc_no{margin-top: 3px;}
  .pass-container p{
    font-size: 12px !important;
  }
  #pass_user_name_and_email{
    margin-top: 0 !important;
  }
  .btn-cont{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .get_pass_btn, .accomodation{
    width: max-content;
    padding: 10px 13px;
    margin: 10px 0;
  }
}

#flagship_container{
  display: none;
}


/* Snackbar */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 80px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 80px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 80px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 80px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 80px; opacity: 1;}
  to {top: 0; opacity: 0;}
}