@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700;8..144,800;8..144,900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'Space Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* navbar styling starts here  */
.res-menu-btn{
  overflow: hidden;
}
.res-nav{
  width: 100vw;
  height: 0vh;
  z-index: 200000;
  top: 0;
  background-color: orange;
  transition: height 1s ease-in-out;
  -webkit-transition: height 1s ease-in-out;
  overflow: hidden;
  position: fixed;
  left: 0;
}
.res-nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.res-nav button{
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 500;
  font-size: large;
}
.res-nav.opened{
  height: 100vh;
}

#nav-icon4 {
  width: 50px;
  height: 100%;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span{
  background-color: white;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  top: 35px;
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 34px;
  left: 8px;
}
.res-menu-btn{
  display: none;
}

nav{
  display: flex;
  flex-direction: row;
  padding: 0 3.5%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px ); 
  -webkit-backdrop-filter: blur( 5.5px ); 
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 2000000;
  
}
nav button{
  background: transparent;
  border: none;
  padding: 1.5rem 2rem;
  font-weight: 700;
  font-size: 1fr;
  color: #1d3557;
  border-bottom: 3px solid transparent;
  text-align: center;
}
button{
  background: transparent;
}
nav button:hover{
  border-bottom: 3px solid #1d3557;
}



body{
  background-color: #F1C270;
  padding: 120px 5vw;
  overflow-x: hidden;
}



.blob{
  position: fixed;
  top: -15vh;
  left: -20vw;
  z-index: -1000;
}
.two{
  top: 50vh;
  left: 10vw;
}
.three{
  left: 70vw;
  top: 10vh;
}

main{
  /* border: 1px solid black; */
  min-height: 20vh;
  display: flex;
  color: #604726;
  column-gap: 10vw;
}
main h1{font-size: 4.5rem;}
.left-container{
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
button{
  border: none;
  outline: none;
}
a{text-decoration: none; color: #604726;}
.sidebar{
  display: flex;
  flex-direction: column;;
}
.sidebar button{
  width: fit-content;
}



.left-container{min-width: fit-content; position: fixed;}

.sidebar a{
  font-size: 1.2rem;
  line-height: 3.5rem;
  font-weight: 600;
  border-bottom: 2px solid #604726;
  padding: 0.2rem 0;
}
.right-container{
  width: 70vw;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 40vw;
}

.grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  margin: 20px 0;
}

.person-card{
  min-height: fit-content;
  width: 220px;
  /* height: 195px; */
  background: url('./../static/teams/card.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 240/390;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  row-gap: 3px;
}
.profile-pic{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 10px 0;
}
.teams-container{padding-top: 10vh;}
.person-card h4{color: #FFA61E;}
.person-card span{color: white; font-size: 14px;}
.handles{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin-top: 10px;
  align-items: center;
}

.handles img{
  width: 25px;
  height: auto;
  cursor: pointer;
}






@media screen and (max-width: 1070px) {  /*tablet*/
  nav{padding: 0 10vw;}
  .nav-btns{display: none;}
  .res-menu-btn{ display: inline;}

}

.reg-btn{
  border-radius: 100px;
  padding: 13px 17px;
  min-width: max-content;
  font-weight: 600;
  background-color: #1d3557 !important;
  color: #fff !important;
}
@media screen and (max-width: 850px){
  .left-container h1{ font-size: 2.5rem; }
  .right-container{left: 30vw;}
  .sidebar a{font-size: 1rem;}
}
@media screen and (max-width: 650px){
  main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-container, .right-container{
    position: relative;
    width: 100%;
    left: 0;
    text-align: center;
    /* display: none; */
  }
  .sidebar button{text-align: center; width: 100%;}
  .grid{justify-items: center; row-gap: 15px;}
  .person-card{width: 150px;}
  .profile-pic{height: 60px; width: 60px; margin-top: 0;}
  .person-card h4{font-size: 0.8rem;}
  .person-card span{font-size: 0.7rem;}
  .handles img{width: 20px;}
  .handles{margin-top: 0;}

  body{padding: 80px 0;}
}
