@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700;8..144,800;8..144,900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'Space Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* navbar styling starts here  */
.res-menu-btn{
  overflow: hidden;
}
.res-nav{
  width: 100vw;
  height: 0vh;
  z-index: 2;
  position: absolute;
  background-color: orange;
  transition: height 1s ease-in-out;
  -webkit-transition: height 1s ease-in-out;
  overflow: hidden;
  position: fixed;
}
.res-nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.res-nav button{
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 500;
  font-size: large;
}
.res-nav.opened{
  height: 100vh;
}

#nav-icon4 {
  width: 50px;
  height: 100%;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span{
  background-color: white;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  top: 35px;
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 34px;
  left: 8px;
}
.res-menu-btn{
  display: none;
}

nav{
  display: flex;
  flex-direction: row;
  padding: 0 3.5%;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: fit-content;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px ); 
  -webkit-backdrop-filter: blur( 5.5px ); 
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 100;
  
}
nav button{
  background: transparent;
  border: none;
  padding: 1.5rem 2rem;
  font-weight: 700;
  font-size: 1fr;
  color: #1d3557;
  border-bottom: 3px solid transparent;
  text-align: center;
}
button{
  background: transparent;
}
nav button:hover{
  border-bottom: 3px solid #1d3557;
}


section{width: 100vw; min-height: max-content;}

#desDivMob{
  display: none;
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  column-gap: 10%;
  color: #414141;
  min-height: 100vh;
}
.details img{
  min-width: 35vw;
  max-width: 38vw;
  
}
.details h1, .details span{
  font-family: 'Rozha One', serif;
}
.details h1{
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  line-height: 3.5rem;
  min-height: fit-content;
  overflow: hidden;
}
.content span{font-size: 1.5rem;}
.content{max-width: 60%; min-width: min-content; font-family: 'Sanchez', serif;}
.content p{margin-top: 1.4rem; line-height: 1.7rem; max-width: 80%;}
.content button, .event-org button{
  padding: 2.5% 5%;
  background-color: #DD7AB9;
  border: none;
  outline:  none;
  border-radius: 100px;
  margin: 7% 0;
  min-width: fit-content;
  font-weight: 600;
  color: white;
  font-size: 15px;
  cursor: pointer;
}


*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.blob{
  width: 40vw; 
  filter: blur(80.17px);
  position: absolute;
  z-index: -100;
  top: -10vh;
  left: -20vw;
}
.second{
  top: 80vh;
  left: 70vw;
}
.third{
  top: 150vh !important;
  left: 30vw;
}
#rulebook{
  width: 100%;
  padding: 10% 5%;
  display: flex;
  justify-content: space-around;
  column-gap: 3%;
}
embed{
  width: fit-content;
  height: 70vh;
  width: 40%;
}
.event-org{
  height: 100%;
  padding: 3% 0;
  /* border: 1px solid black; */
  width: max-content;
  font-family: 'Rozha One', serif !important;
  text-align: center;
  color: #414141;
}
.event-org h1{font-size: 2.5rem}
.event-org h1, .event-org h3{font-family: 'Rozha One', serif;;}
.event-org h3{font-size: 1.4rem;}
.email{display: flex; justify-content: space-evenly; width: 80%; align-items: center; position: relative; left: 50%; transform: translate(-50%, 0%);}
.fa{font-size: 1.8rem;}
/* .event-org span, .event-org p{font-family: 'Rozha One', serif;} */

@media screen and (max-width: 960px) {  /*tablet*/
  nav{padding: 0 10vw;}
  .nav-btns{display: none;}
  .res-menu-btn{ display: inline;}

  .content h1, .event-org h1{font-size: 2rem;}
  .content span, .event-org h3{font-size: 1.1rem}
  .content p, .event-org span, .event-org p{font-size: 0.8rem;}
}

@media screen and (max-width: 575px){
  #desDiv{
    display: none;
  }
  #desDivMob{
    display: block;
  }
  .details{
    flex-direction: column;
    row-gap: 6vh;
    padding: 11vh 3vw;
  }
  .details img{min-width: 50vw; max-width: 55vw;}
  .content{text-align: center;}
  .content p{min-width: 100%}
  #rulebook{
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 5vh;
  }
  embed{
    width: 80%;
  }
  .blob{display: none;}
}